<nav class="main-nav">
    <a href="{{ site.baseurl }}">Home </a>
    <a href="{{ site.baseurl }}diensten">Diensten</a>
    <a href="{{ site.baseurl }}projecten">Projecten</a>
    <a href="{{ site.baseurl }}posts">Posts</a>
    <a href="{{ site.baseurl }}feed.xml">RSS</a>
    <a class="cta" href="{{ site.baseurl }}contact">Contact</a>
</nav>
