<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}
      Jorijn Schrijvershof - {{ page.title }}
    {% else %}
      Jorijn Schrijvershof // Freelance Web Developer
    {% endif %}</title>
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="Jorijn Schrijvershof" href="{{ site.baseurl }}rss.xml">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/highlight.css">

  <meta itemprop="name" content="Jorijn Schrijvershof // Freelance Web Developer">
  <meta itemprop="description" content="Freelance Web Developer uit Noord-Brabant, Nederland">
  <meta itemprop="image" content="http://jorijn.com/assets/images/logo.png">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jorijn">
  <meta name="twitter:title" content="Jorijn Schrijvershof // Freelance Web Developer">
  <meta name="twitter:description" content="Freelance Web Developer uit Noord-Brabant, Nederland">
  <meta name="twitter:creator" content="@jorijn">
  <meta name="twitter:image:src" content="http://jorijn.com/assets/images/logo.png">

  <!-- Open Graph General (Facebook & Pinterest) -->
  <meta property="og:url" content="http://jorijn.com">
  <meta property="og:title" content="Jorijn Schrijvershof // Freelance Web Developer">
  <meta property="og:description" content="Freelance Web Developer uit Noord-Brabant, Nederland">
  <meta property="og:site_name" content="Jorijn Schrijvershof // Freelance Web Developer">
  <meta property="og:image" content="http://jorijn.com/assets/images/logo.png">
  <meta property="og:type" content="place">
  <meta property="og:locale" content="nl_NL">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.jorijn.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//webstats.jorijn.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//webstats.jorijn.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</head>
<body>

  {% if page.navigation != false %}
  {% include navigation.html %}
  {% endif %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
    {{ content }}
  </section>

  <script src="{{ site.baseurl }}assets/js/main.js"></script>
  <script src="{{ site.baseurl }}assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
